.card {
    margin-top: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: inherit;
}

.bg-custom {
    background: linear-gradient(to right, #1d5c91 0%, #229261 100%);
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:  #229261 !important;
    border: 1px solid  #229261;
    margin-top: -5px;
}

.jumbotron-up {
    margin-top: -4%;
}

.text-head {
    font-weight: bold;
    color: #41a570;
}

.jumbotron {
    background: #f7fefa;
}

.inline {
    display: inline-block;
}

.navbar {
    padding: 2.2rem 1rem;
}

.container { 
    width: 80%;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #41a570;
    border-color: #41a570 transparent #41a570 transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
}

.move-right {
    margin-left: 6px;
}

.lead {
    font-size: 16px
}

.list-item {
    margin-bottom: 10px;
}

.add-margin {
    margin-bottom: '30%';
    margin-left: '10%';
}

.default {
    color: #aaaaaa;
}

.contain-div {
    margin-left: 1.6%;
}

.custom {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

li {
    margin-bottom: 7%;
}

.favourite {
    color: #23995c;
}

.fa:hover {
    cursor: pointer;
}